@tailwind base;
@tailwind components;
@tailwind utilities;

.label{
    margin: 30px;
    padding: 20px;
    background: #52ab98;
    cursor: pointer;
    border-radius: 10%;
}
.prim::after{
	content: url(/src/images/crown.png);
}
#merge-input{
    display: none;
    z-index: -1;
}
#inpFile{
	display: none;
}


.buttonProject3{
	padding: 8px 16px;
	border: 1px solid transparent;
	border-radius: 25px;
    color: white;
    font-weight: 600;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	transition: 0.4s;
    border: 1px solid yellowgreen;
}
.buttonProject3:hover{
	background-color: var(--bg-clr-two);
	color: white;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid orange;
}

