@tailwind base;
@tailwind components;
@tailwind utilities;

.label{
    margin: 30px;
    padding: 20px;
    background: rgb(195, 67, 67);
    cursor: pointer;
    border-radius: 10%;
}

#merge-input{
    display: none;
    z-index: -1;
}